Repository radon-h2020/radon-ctt, pull requests merged in 2020-04, with the labels that each got.

#59 #14,#49 Typo fix, added first logging entries, improved readability, …
  ctt-server/models/abstract_model.py
  ctt-server/models/deployment.py
  ctt-server/models/execution.py
  ctt-server/models/project.py
  ctt-server/models/result.py
  ctt-server/models/testartifact.py
  ctt-server/openapi_server/__main__.py
  ctt-server/requirements.txt
  ctt-server/util/marhsmallow_schemas.py
Labels: CTT, WP3

#64 Docker file update to fix issue with gcc
  ctt-server/Dockerfile
Labels: CTT, Data Pipelines

#66 Added opera deployment of SuT and TI into deployment step
  .travis.yml
  ctt-server/models/deployment.py
  ctt-server/openapi_server/__main__.py
Labels: CTT, Orchestrator, WP3, enhancement
